body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #1f1f1f;
    padding: 20px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #f8b400;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #ffffff;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h1, h2, h3 {
    color: #f8b400;
    margin-bottom: 20px;
}

section {
    margin: 30px 0;
}

.about-me, .skills, .experience, .projects, .education, .certifications, .contact {
    background: #1f1f1f;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.about-me h2, .skills h2, .experience h2, .projects h2, .education h2, .certifications h2, .contact h2 {
    text-align: center;
    font-weight: 700;
    color: #f8b400;
}

p {
    color: #bbbbbb;
    line-height: 1.8;
}

button {
    background-color: #f8b400;
    color: #121212;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #ffffff;
    color: #121212;
}

footer {
    text-align: center;
    padding: 10px;
    background: #1f1f1f;
    color: #bbbbbb;
    margin-top: 30px;
}
